.tarjeta{
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: black;
    min-width: 45%;
    max-width: 35;
    height: 120;
    position: relative;

}

.tarjeta p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.text-container{
    color: white;
    padding: 4px;

}

.ver-mas-btn{
    font-family: 'Roboto';
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-decoration: none;
}

.tarjeta:hover .ver-mas-btn{
    opacity: 1;
}

.box-container-row{
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.destacado{
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}



#encabezado{
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    color: rgb(0, 0, 0)   ;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

#encabezado::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/fondods-de-manga.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    font-family: sans-serif;
    background-color: black;
    list-style-type: none;
    text-align: center;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 3px;
}

ul li{
    display: inline;
    margin-right: 20px; 
}

h3{
    color: white;
    text-align: left;
    background-color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-weight: bold;
    padding: 0;
    padding-left: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}





